
@{
    ViewBag.Title = "Halls";
}

<div class="accordion" id="accordionExample">
    @foreach (var hall in ViewBag.Halls)
    {
        <div class="card">
            <div class="card-header" id="@hall.Headin">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#@hall.Collapse" aria-expanded="@hall.Expanded" aria-controls="@hall.Collapse">
                        @hall.Name
                    </button>
                </h2>
            </div>

            <div id="@hall.Collapse" class="collapse" aria-labelledby="@hall.Headin" data-parent="#accordionExample">
                <div class="hall-card">
                    <div class="card-body">
                        <img class="hall-img" src="@hall.Image" alt="Alternate Text" />
                        <div class="hall-descr">
                            @hall.Descr
                            <a href="@Url.Action("Index", "Trainer")" class="btn btn-warning hall-trainer">Просмотр тренеров и запись</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
