
@{
    ViewBag.Title = "Index";
}


<div class="trainer-block">
    <div class="container">
    </div>

</div>

<div class="trainer-block-info">
    <h2 class="tittle">НАШИ ТРЕНЕРА</h2>
    <div class="title-crossfit">
        <img src="~/Images/muscle.svg" alt="muscle" /><h3 class="sub-tittle-trainer"> Crossfit</h3><img src="~/Images/muscle (1).svg" alt="muscle" />
        <a href="@Url.Action("Add", "Trainer")" class="add-crossfit btn btn-warning">Добавить</a>
    </div>

    <div class="row justify-content-around">
        @foreach (var trainer in ViewBag.Trainer)
        {
            <div class="card col-12 col-sm-6 col-md-6 col-xl-2" style="width: 18rem;">
                <img src="@trainer.Image" class="card-img-top" alt="img">
                <div class="card-body">
                    <h5 class="card-title">@trainer.FirstName @trainer.SecondName</h5>
                    <p class="card-text"><b>Phone number:</b> <span class="trainer-phone">@trainer.PhoneNumber</span><br><b>Status:</b> @trainer.Status<br><b>Working time:</b> @trainer.WorkingTime</p>
                    <a href="@Url.Action("Details", "Trainer", new { id = trainer.Id })" class="btn btn-warning">Подробнее</a>
                </div>
            </div>
        }

        @*<div class="card col-12 col-sm-6 col-md-6 col-xl-2" style="width: 18rem;">
            <img src="~/Images/Trainer/t2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning">Расписание</a>
            </div>
        </div>
        <div class="card col-12 col-sm-6 col-md-6 col-xl-2" style="width: 18rem;">
            <img src="~/Images/Trainer/t3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning">Расписание</a>
            </div>
        </div>
        <div class="card col-12 col-sm-6 col-md-6 col-xl-2" style="width: 18rem;">
            <img src="~/Images/Trainer/t4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning">Расписание</a>
            </div>
        </div>
        <div class="card col-12 col-sm-6 col-md-6 col-xl-2" style="width: 18rem;">
            <img src="~/Images/Trainer/t5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning">Расписание</a>
            </div>
        </div>*@
    </div>
</div>

