<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gym</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap&subset=cyrillic" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="@Url.Action("Index", "Gym")"><img class="logo" src="~/Images/logo.png" alt="Logo" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <img class="menu-img" src="~/Images/menu.svg" alt="menu" />
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="@Url.Action("Index", "Gym")">Главная</a>
                <a class="nav-item nav-link" href="@Url.Action("Halls", "Gym")">Залы</a>
                <a class="nav-item nav-link" href="@Url.Action("Index", "Trainer")">Тренера</a>
                <a class="nav-item nav-link" href="@Url.Action("Contact", "Gym")">Контакты</a>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    
    <div >
        @RenderBody()
        <hr />
        <footer>
            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
